/* .profile-header-container {
  margin: 0 auto;
  text-align: center;
} */

#user-photo{
 width: 30px;
 height: 30px;
 border: 2px solid rgb(203, 203, 203);
 margin-top: 20px;
 padding: 40px;
 margin-bottom: 150px;
 border-radius: 50%;
 background-image: url("../IMG/perfil.jpg");
 background-position: center;
 background-size: cover;
 float: right;
}
.flex-right {justify-content: flex-end;}

.container {
  background-color: rgba(245, 234, 225, 0.92);
  min-height: 100vh;
  min-width: 100vh;
  margin: 0px;
  margin-right: 0px;

}
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  margin-bottom: 10px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color:rgba(239, 211, 194, 0.92);
}


/* .card-columns {
    /* -webkit-column-count: 3; */
    /* -moz-column-count: 3; */
    /* column-count: 3; */
    /* -webkit-column-gap: 1.25rem; */
    /* -moz-column-gap: 1.25rem; */
    /* column-gap: 1.25rem; */
    /* orphans: 1; */
    /* widows: 1; */


.form-control {
  display: block;
  width: 50% !important;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
body {
  min-width: 100vh;
  line-height: 1;
  background-color: rgba(245, 234, 225, 0.92) !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px; 
    margin-left: -15px;
}

.button-big {
  height: 250px;
  width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 80px;
  color: darkgrey;
  border: 3px solid grey;
  border-radius: 8px;
  margin-left: 30p;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.container-fluid {
  
  background-color: rgba(245, 234, 225, 0.92);

  min-height: 100vh;
  
}
